# Database configuration
DB_PASSWORD=VALUE
DB_USER=VALUE
DB_NAME=VALUE
DB_HOST=VALUE

CLERK_SECRET_KEY=VALUE
CLERK_WEBHOOK_SECRET=VALUE

# Clerk configuration
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up

NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/

ARCJET_KEY=key
TEST_IP_ADDRESS=1.187.0.1

STRIPE_PPP_50_COUPON_ID=50-off
STRIPE_PPP_40_COUPON_ID=40-off
STRIPE_PPP_30_COUPON_ID=30-off
STRIPE_PPP_20_COUPON_ID=20-off

#STRIPE
STRIPE_SECRET_KEY=key
NEXT_PUBLIC_SERVER_URL=https://my-course-platform-949616943867.australia-southeast1.run.app/
STRIPE_WEBHOOK_SECRET=key

# Recommended for most uses
DATABASE_URL=value
VERCEL=true
LOCALDEV=false

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Y29oZXJlbnQtYnVsbGZyb2ctNjguY2xlcmsuYWNjb3VudHMuZGV2JA
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51HLVJpGnpnOxMhM7uoLFvbqaxDrrCXXxrVaSHLlUOQsHIaRasoPhy7Xlq0TsfD46p55wDVdGrh9DpqxCkYcId3Xl002KEHP5rT